# kad se servis pokrene kroz docker compose kaže krivo vrime...inače je ok
version: "3.9"

services:
  redis:
    image: redis:7.2
    container_name: redis_service
    ports:
      - "6382:6379"  # host port fiksno za Redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  server:
    build: .
    depends_on:
      redis:
        condition: service_healthy
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    restart: unless-stopped
    ports:
      - "8000"   # Docker automatski dodjeljuje slobodan host port
